<h1><%= @route.name %></h1>
<ul>
  <li>Difficulty: <%= @route.difficulty %></li>
  <li>Length: <%= @route.length %></li>
  <li>Pitches: <%= @route.pitches %></li>
  <li>Rating: <%= @route.rating %> stars</li>
  <li>Sport: <%= @route.sport %> </li>
  <li>Trad: <%= @route.trad %> </li
</ul>
