<h1><%= @area.name %></h1>
<ul>
  <li>Rock Type: <%= @area.rock_type %></li>
  <li>State: <%= @area.state %></li>
  <li>County: <%= @area.county %></li>
  <li>Approach Distance: <%= @area.approach_distance %> minutes</li>
  <li>Roadside Access: <%= @area.roadside_access %> </li>
  <li>Number of Routes: <%= @area.routes_count %> </li>
</ul>
<%= link_to "Routes in this Area", area_routes_path(area_id: @area.id) %>
